@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

* {
    list-style: none;
    text-decoration: none;
}
/* Global Style */

header {
    width: 1300px;
    height: auto;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    color: #535353;
    font-weight: 500;
    letter-spacing: 10px;
    float: left;
    margin-top: 50px;
}

@media only screen and (max-width: 468px) {
    .logo {
        float: none;
        display: block;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}


.logo:hover {
    color: #5068E1;
    transition: ease-in-out 0.3s;
}

nav {
    float: right;
}

@media only screen and (max-width: 468px) {
    nav {
        float: none;
        text-align: center;
    }
}


nav ul {
    margin-top: 57px;
}

@media only screen and (max-width: 468px) {
    nav ul {
        margin-top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

@media only screen and (max-width: 468px) {
    nav ul li {
        margin-left: 0;
    }

    #mobile-nav-padding {
        padding-left: 20px;
        padding-right: 20px;
    }
}

nav ul li a{
  font-size: 16px;
  font-weight: 500;
  color: #5E5E5E;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover {
  color: #5068E1;
  transition: ease all 0.4s;
}

/* Header and Nav */

.wrapper {
    width: 1300px;
    margin: 0 auto;
}

@media only screen and (max-width: 1300px) {
  .wrapper {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    width: 98%;
  }
}

#leon-illustration {
    width: 124px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  #leon-illustration {
    margin-top: 41px;
  }
}

@media only screen and (max-width: 468px) {
  #leon-illustration {
    margin-top: 21px;
  }
}


#welcome-message {
    margin-top: 0px;
    font-size: 37px;
    text-align: center;
    color: #707070;
    line-height: 50px;
}

@media only screen and (max-width: 800px) {
  #welcome-message {
    font-size: 30px;
  }
}

@media only screen and (max-width: 468px) {
  #welcome-message {
    font-size: 22px;
    line-height: 40px;
  }
}

.bold-blue-text {
    font-weight: 500;
    color: #5068E1;
}
/* Welcome Section */
.my-work-title-wrapper {
  width: 1300px;
  margin: 0 auto;
  height: auto;
}

@media only screen and (max-width: 1300px) {
  .my-work-title-wrapper {
    width: 90%;
  }
}

#my-work {
  font-size: 25px;
  color: #535353;
  font-weight: 500;
  letter-spacing: 10px;
  margin-top: 100px;
}

@media only screen and (max-width: 468px) {
  #my-work {
    margin-left: 0;
    margin-top: 80px;
  }
}

.project-wrapper {
  width: 1000px;
  margin: 0 auto;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .project-wrapper {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .project-wrapper {
    width: 90%;
    height: 400px;
  }
}

#project-1-thumbnail-box {
  float: left;
  margin-right: 160px;
  width: 420px;
  height: 236px;
  border-radius: 3px;
  margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
  #project-1-thumbnail-box {
    float: left;
    margin-right: 4%;
    width: 48%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  #project-1-thumbnail-box {
    width: 48%;
    height: auto;
    margin-right: 4%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 468px) {
  #project-1-thumbnail-box {
    width: 100%;
    height: auto;
    padding-right: 0;
    margin-bottom: 30px;
  }
}


#project-1-thumbnail {
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
}

#project-2-thumbnail-box {
  float: left;
  width: 420px;
  height: 236px;
  border-radius: 3px;
}

@media only screen and (max-width: 1000px) {
  #project-2-thumbnail-box {
    float: left;
    width: 48%;
    height: auto;
  }
}


@media only screen and (max-width: 768px) {
  #project-2-thumbnail-box {
    width: 48%;
    height: auto;
  }
}

@media only screen and (max-width: 468px) {
  #project-2-thumbnail-box {
    width: 100%;
    height: auto;
    padding-right: 0;
  }
}


#project-2-thumbnail {
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
}
/* Project Boxes With The Image */

.project-title {
  font-size: 20px;
  font-weight: 500;
  color: #989898;
  margin-top: 15px;
  margin-bottom: 15px;
}

.react-icon {
  font-size: 24px;
  color: #00D8FF;
}

.html-icon {
  font-size: 24px;
  color: #DD4C25;
}



.css-icon {
  font-size: 24px;
  color: #2092EC;
  margin-left: 5px;
}

.bootstrap-icon {
  font-size: 24px;
  color: #543B79;
  margin-left: 5px;
}



.sass-icon {
  font-size: 24px;
  color: #c76395;
  margin-left: 5px;
}

.product-description {
  font-size: 16px;
  font-weight: 500;
  color: #545454;
  margin-top: 15px;
  margin-bottom: 40px;
  line-height: 28px;
}
/* HOMEPAGE */
.about-wrapper {
  margin: 0 auto;
  width: 800px;
  max-width: 90%;
}

#purple-line {
  width: 100px;
  height: 5px;
  background-color: #5068E1;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#about-text {
  font-size: 16px;
  font-weight: 500;
  color: #2e3033;
  word-spacing: 4px;
  margin-top: 100px;
  line-height: 30px;
}

.about-middle-text {
  font-size: 16px;
  font-weight: 500;
  color: #2e3033;
  word-spacing: 4px;
  margin-top: 75px;
  line-height: 30px;
}

.small-margin-top {
  margin-top: 50px;
}

#about-bottom-text {
  font-size: 16px;
  font-weight: 500;
  color: #2e3033;
  word-spacing: 4px;
  margin-top: 75px;
  line-height: 30px;
}
/* About Page */

#contact-me {
  font-size: 40px;
  font-weight: 500;
  color: #272727;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}

#thank-you {
  font-size: 22px;
  font-weight: 500;
  color: #999;
  text-align: center;
  margin-top: 10px;
}

.contact-wrapper {
  width: 800px;
  margin: 0 auto;
  max-width: 90%;
}

/* Style inputs with type="text", select elements and textareas */

label {
  font-size: 16px;
  font-weight: 500;
  color: #999;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 2px solid #ccc; /* Gray border */
  border-radius: 3px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  color: #272727;
  font-size: 16px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #5068E1;
  color: white;
  font-weight: 500;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  transition: ease all 0.5s;
  padding: 14px 22px;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}
